<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjstandard.core.module.yjstandard.mapper.SubdomainMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjstandard.core.module.yjstandard.entity.Subdomain">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="cnName" property="cnName" />
        <result column="enName" property="enName" />
        <result column="enabled" property="enabled" />
        <result column="state" property="state" />
        <result column="updateTime" property="updateTime" />
        <result column="createTime" property="createTime" />
        <result column="groupId" property="groupId" />
        <result column="orderNumber" property="orderNumber" />
        <result column="subDesc" property="subDesc" />
        <result column="subTypeId" property="subTypeId" />
        <result column="subAddress" property="subAddress" />
        <result column="belongRootdomain" property="belongRootdomain" />
        <result column="lng" property="lng" />
        <result column="lat" property="lat" />
        <result column="isSubscribe" property="isSubscribe" />
        <result column="videoUrl" property="videoUrl" />
        <result column="to28181" property="to28181" />
        <result column="checkTime" property="checkTime" />
    </resultMap>

</mapper>
